!!! 5
html
    head
        title Node.js Login
        link(rel='stylesheet', href='/vendor/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        link(
            href='http://fonts.googleapis.com/css?family=Oxygen:400,700,300',
            rel='stylesheet',
            type='text/css'
        )

        block styles
    body
        canvas(
            class="blur"
            src="http://venturebeat.files.wordpress.com/2011/11/new-york-city1.jpg"
            width="300"
            height="200"
        )
    block content
    block scripts
        script(src='/vendor/jquery.min.js')
        script(src='/vendor/jquery.form.js')
        script(src='/js/canvasImage.js')
        script(src='/vendor/bootstrap-modal.js')
        script(src='/vendor/bootstrap-transition.js')
    block customScripts