!!! 5
html
    head
        title Node.js Login
        link(rel='stylesheet', href='/vendor/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        link(
            href='http://fonts.googleapis.com/css?family=Oxygen:400,700,300',
            rel='stylesheet',
            type='text/css'
        )

        block styles
    body
        canvas(
            class="blur"
            src="https://encrypted-tbn1.gstatic.com/tbns/personal?q=tbn:ANd9GcRMKvvgB_UhivYg_d8zuUOv4pmkC3NUfzeHf8hIEeK5pR1HaEcvbLmzZN0XU-JL4h_hMHB6dqJGCrxzmFnvZnJEdFc4i59g3KfbLHqh4LvJVAQOjkADus5P4W8x1WU2sRS5-yrVKQ0iqc1olyv_nC_KtikWPBkbYJYLtw"
            width="300"
            height="200"
        )
    block content
    block scripts
        script(src='/vendor/jquery.min.js')
        script(src='/vendor/jquery.form.js')
        script(src='/js/canvasImage.js')
        script(src='/vendor/bootstrap-modal.js')
        script(src='/vendor/bootstrap-transition.js')
        script(src='/js/views/home.js')
        script(src='/js/controllers/homeController.js')
        script(src='/js/form-validators/accountValidator.js')