.post(id='post-#{post._id}')
    .post-text=post.text
    .post-user
        |Posted by  
        user = post.user
        include util/userLink
        |  at #{post.dateCreated}
    form(
        class='like-form'
        method='post'
        action='/post/' + post._id + '/like'
        data-refresh-id='likes-#{post._id}'
    )
        button Like

    form(
        class='comment-form'
        method='post'
        action='/post/' + post._id + '/comment'
        data-refresh-id='comments-#{post._id}'
    )
        input(type='text', name='text')
        button Comment

    .liked-by(id='likes-#{post._id}') Following users liked this:
        - each like in post.likes
            .like
                user = like
                include util/userLink
    .comments(id='comments-#{post._id}')
        - each comment in post.replies
            .comment
                .comment-text=comment.text
                .comment-author
                    user = comment.user
                    include util/userLink